.coke-sharp {
	background-image:url('../img/coke_ad_sharp.jpg');
}

.coke-blur {
	background-image:url('../img/coke_ad_blur.jpg');
}

.ad {
	background-size: contain;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
}

