
.deals {
	background-position:center; 
	background-image:url('../img/appscreens/deals.png');
	background-size: contain;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
	font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
}

.deals-container{
	width: 100%;
	height: 75%;
	/*background: black;*/
	position: absolute;
	top: 235px;
}

.deals-container *{
	opacity: 0;
	animation-name: appear;
	animation-delay: 3s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.deal-one{
	opacity: 0;
	animation-name: appear;
	animation-delay: 3.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.deal-two{
	opacity: 0;
	animation-name: appear;
	animation-delay: 4s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.deal-three{
	opacity: 0;
	animation-name: appear;
	animation-delay: 4.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.deal-four{
	opacity: 0;
	animation-name: appear;
	animation-delay: 5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes appear{
	from{opacity:0;}
	to{opacity:1;}
}