body, html {
  height: 100%;
  width:100%;
  padding:0px;
  overflow: hidden;
}

.container {
	height: 100%;
	width: 100%;
	border: 1px solid black;
	text-align: center 
}

.container div {
	height:100%;
}

#iddleTime {
	font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
	color: black;
}