#carousel {
  width:300px;
  height: 200px;
  position: absolute;
  left: 40%;
  top:-70%;
  
}
#carousel img {
  display: hidden; /* hide images until carousel prepares them */
  cursor: pointer; /* not needed if you wrap carousel items in links */
}