<!doctype html>
<html>
<head>
<meta charset="US-ASCII">
<title>Insert title here</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/animation.css" rel="stylesheet" type="text/css" media="screen">
<link href="css/main.css" rel="stylesheet" type="text/css" media="screen">
<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src="js/app.js"> </script>
<script type="text/javascript" src="Kinect-1.8.0.js"></script>



<link href="css/dashboard.css" rel="stylesheet" type="text/css" media="screen">

</head>
<body class="animation container" ng-app="demo"  ng-controller="MainCtrl">

  <style ng-bind-html-unsafe="style"></style>
  
  <div class="cube container">
    <div ng-view ng-animate=" '{{direction}}-animate' "  >
    </div>
  </div>
  
  <!--<div id="log-wrapper">
    <div id="log">
      <span ng-repeat="mov in movs">{{mov.direction}} </span>
    </div>
  </div-->
  
  <script type="text/ng-template" id="map.html">
   <div class="container">
      <div class="masthead">
            <iframe src="http://maps.yahoo.com" height="100%" width="100%"/>

        </div>
   </div>
  </script>
          
  <script type="text/ng-template" id="game.html">
   <div class="container " >
      <div class="masthead">
            <iframe src="http://tetris.gdaws.co.uk" height="100%" width="100%"/>
        </div>
   </div>
  </script>
  
  <script type="text/ng-template" id="mac.html">
   <div class="container " >
      <div class="masthead">
<iframe height="100%" width="100%" frameborder="0" 
scrolling="no" marginheight="0" marginwidth="0" 
src="http://www.mcdonalds.com/us/en/home.html"></iframe>
        </div>
   </div>
  </script>


  <script type="text/ng-template" id="macys.html">
   <div class="container " >
      <div class="masthead">
<iframe height="100%" width="100%" frameborder="0" 
scrolling="no" marginheight="0" marginwidth="0" 
src="http://www.macys.com"></iframe>
        </div>
   </div>
  </script>

  <script type="text/ng-template" id="trailler.html">
   <div class="container " >
      <div class="masthead">
<iframe height="100%" width="100%" frameborder="0" 
scrolling="no" marginheight="0" marginwidth="0" 
src="http://movietrailers.apple.com/movies/paramount/transformers4/transformers-biggame_480p.mov?width=1200&height=800"></iframe>
        </div>
   </div>
  </script>

  <script type="text/ng-template" id="dashboard.html">
   <div class="container border" >
      <div class="masthead">
        <div id="dashboard">
          <div id="map" class="link" ng-click="go('map','right')">
            <div class="title">
              <span>Map</span>
            </div>
            <div class="subtitle-d">
              <span>Directions, places to visit, traffic conditions</span>
            </div> 
          </div>

          <div id="game" class="link" ng-click="go('game','right')">
            <div class="title">
              <span>Games</span>
            </div>
            <div class="subtitle-d">
              <span>Have fun, challenge your friends</span>
            </div>
          </div>

          <div id="trailler" class="link" ng-click="go('trailler','right')">
            <div class="title">
              <span>Traillers</span>
            </div>
            <div class="subtitle-d">
              <span>Watch scenes of the newest movies</span>
            </div>
          </div>

          <div id="ad" class="link" ng-click="go('ad','right')">
            <div class="title">
              <span>Ads</span>
            </div>
            <div class="subtitle-d">
              <span>Check it out for promotions and cool products</span>
            </div> 
          </div>

          <div id="wave">
            <img src="img/wave.png">
          </div>
        </div>
      </div>
   </div>
  </script>
  
  <button  class="btn display-button" ng-click="go(nextPage,'left')">Left</button>
  <button  class="btn display-button" ng-click="go(nextPage,'right')">Right</button>
  <button  class="btn display-button" ng-click="go('dashboard','top')">Top</button>
  <button  class="btn display-button" ng-click="go('dashboard','bottom')">Down</button>
  
</body>
</html>